@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Default light mode styles */
body {
  background-color: white;
  color: black;
}

/* Dark mode styles */
.dark {
  background-color: #1a202c; /* Dark gray */
  color: white;
}
